<% layout("./layouts/boilerplate.ejs") %> <%- include("../includes/form") %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (note of user.notes) { %>
    <a href="/notes/<%=note._id%>" class="note-link">
        <div class="card col card-note" style="width: 18rem">
            <div class="card-body">
                <% if (note.remind !== null) {%>
                <span
                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                >
                </span>
                <% } %>
                <div class="line">
                    <h5 class="card-title">
                        <%=note.title === '' ? 'empty title' : note.title%>
                    </h5>
                    <form
                        action="/notes/<%=note._id%>?_method=PATCH"
                        method="POST"
                    >
                        <button class="pin-button" name="pinned">
                            <i
                                class="fa-solid fa-thumbtack pin-icon"
                                style="color:<%= note.pinned ? '#8b8c8b' : '#2b2b2b'%>;"
                            >
                            </i>
                        </button>
                    </form>
                </div>
                <div class="line">
                    <form
                        action="/notes/<%=note._id%>?_method=DELETE"
                        method="POST"
                    >
                        <button class="trash-button">
                            <i class="fa-solid fa-trash trash-icon"></i>
                        </button>
                    </form>
                    <p class="card-text">
                        <span
                            class="badge note-created-at d-flex flex-row-reverse p-2 ml-2"
                        >
                            <%=note.createdAt.toLocaleString('en-IN', { month:
                            "numeric", day: "numeric", year: "numeric", hour:
                            "numeric", minute: "2-digit", hour12: true})%></span
                        >
                    </p>
                </div>
            </div>
        </div>
    </a>
    <% } %>
</div>
